*{
    margin: 0;
    padding: 0;
}

.testimonials{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 30px ;


    
    
    /* grid-template-row; */
    
}

.card{
    /* width: 100%; */
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
    padding: 20px;
    /* margin: 20px; */
    gap: 20px;

}

.card-img{
    border-radius: 100%;
    margin-left: -10px;
}

.card-bg-purple{
    grid-column: span 2;
    background-color: #7541c8;
    color: white;
    /* padding: 30px; */
}

.card-header {
    display: flex;
    gap: 15px;
    margin: 10px;

}

.card-header h3,p{
    margin-top: 5px;
}

.card-lead{
    /* margin: 20px; */
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.card-quote{
     font-size: 15x;
     margin-top: 20px;
}

.card-bg-black-blue{
    grid-column: span 2;
    background-color: #19212e;
    color: white;
}
.card-bg-gray-blue{
    background-color: #48556a;
    color: white;
}

.kira-whittle{
    grid-column: 4;
    grid-row: 1/5;
}

.Harmon{
    grid-row: 2;
    
}

@media(max-width:425px){
    .testimonials{
        grid-template-columns: 1fr;
        
    }

    .card{
        grid-column: 1;
    }

    .kira-whittle{
        grid-row: 5;
    }

    

}



